.OnDelta{
    
    width: 600px;
    height: 600px;
    background-image: url("DeltaCircuit.png");
    background-repeat: no-repeat;
    background-position: top right;
    float: left;
    color: #7c14be;
    font-family: monospace;
    font-size: 30px;

}
.R12Input{
      background-color: #3CBC8D;
  color: white;
  border: none;
   padding: 12px 4px;
}
.ToStar{
   width: 500px;
    height: 500px;
  background-image: url("DeltaCircuit.png");
    background-repeat: no-repeat;
    background-position: top right;
     float: right;
}
.Submitbtn{
        border-radius: 24px;
      border: none;
        font-family: "monospace";
          background-color: #81db00;
          padding: 25px 20px;
          font-size: 20px;
          background-color: #f44336;
}
h1{
    color: #be08c5;
    font-family: monospace;
    text-align: center
    
}
.ComboBoxdiv{
      color: #f41bc3;
    font-size: 25px;
    font-family: sans-serif;
}
label
{
    font-size: 40px;
    font-family: cursive;
}
.R1_lbl
{
    color: #009cff;
}
.R2_lbl
{
    color: #267fb8;
}
.R3_lbl
{
    color: #165d8a;
}
/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.FromStar{
    width: 500px;
    height: 500px;
    background-image: url("StarCircuit.png");
    background-repeat: no-repeat;
    background-position: top right;
    float: left;

}
.ToDelta{
       width: 500px;
    height: 500px;
    background-image: url("DeltaCircuit.png");
    background-repeat: no-repeat;
    background-position: top center;
    float: right;
}
.MainForm
{
    color:#e304e0;
    font-family: sans-serif;
    font-size: 24px;
}